/* page - SignUp SignIn */

.auth {
  margin: 2rem;
}

.auth__container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px gray;
  border-radius: 20px;
  text-align: center;
}

/* page - Reportlist ReportDetail */

.reportPage {
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
}

.reportPage_container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px 10px 10px;
}

/* page - ReportEdit */

.editpage {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.box-shadow {
  box-shadow: 0px 0px 5px 0px gray;
}

/* component - ImageArea ImagePreview */

.display-none {
  display: none;
}

.imageList {
  display: flex;
  flex-flow: wrap;
}

.imageList > .image__container {
  width: calc(50% - 1rem);
  margin: .5rem;
}

.image__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image__container::before {
  display: block;
  content: "";
  padding-top: 70%;
}

.image__container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* component - Loading */

.loading__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0.9;
  z-index: 9999;
}

/* common styles */

.page-main {
  padding: 70px 0
}

.display-flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.text-headline {
  text-align: center;
  color: lightskyblue;
}

@media screen and (max-width: 600px) {
  .text-headline {
    margin: 10px;
  }
}

.text-right {
  text-align: right;
}

/* -------------------- */
